<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Novo Usuário</title>
</head>
<body>
<h1>Novo Usuário</h1>
<form th:action="@{/usuarios-page}" th:object="${usuario}" method="post">
  <label for="username">Usuário:</label>
  <input type="text" id="username" th:field="*{username}">
  <label for="password">Senha:</label>
  <input type="password" id="password" th:field="*{password}">
  <label for="role">Papel:</label>
  <input type="text" id="role" th:field="*{role}">
  <button type="submit">Salvar</button>
</form>
</body>
</html>
